<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}<title>Task Manager</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
{#  <aside>#}
{#     {% block sidebar %}#}
{#       {% include "includes/navigation.html" %}#}
{#     {% endblock %}#}
{#  </aside>#}



{% block content %}{% endblock %}

{#      {% block pagination %}#}
{#        {% include "includes/pagination.html" %}#}
{#      {% endblock %}#}


</body>

</html>
